@media only screen and (max-width: 768px) {
  br {
    display: none;
  }

  h1 {
      margin: 0;
      font-size: 120px !important;
      line-height: 140px !important;
      font: 'orb15web', serif;
      font-weight: normal;
  }

  body {
    font-family: orb15web, serif;
  }

  p {
      font-size: 24px !important;
      font-family: 'dualistweb-1', sans-serif;
  }

  #header {
    /* width: 100vw !important;
    height: 100vh !important;
    background: white; */
  }

  #menu {
    width: 100%;
    height: 100%;
    line-height: 100px !important;
    font-size: 80px !important;
  }
}

.embed {
  width: 60vw;
  margin-left: calc((100vw - 60vw) / 2);
  height: calc(60vw * (9 / 16));
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  /* FULLPAGE STYLES    */

  #header {
    margin: 0;
    padding: 0 30px 0;
    position: fixed;
    z-index: 999;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
  }

  #menu {
    height: auto;
    display: none;
    margin: 0 20px 0;
    padding: 0;
    list-style-type: none;
    line-height: 85px;
    font-size: 65px;
  }

  a,
  a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: #e4e4e4;
  }

  .image {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin: 0 5%;
  }

  .text {
    text-align: center;
    max-width: 100%;
    padding: 0 10%;
  }

  #footer {
    margin: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

   /* FULLPAGE OVERRIDES END */

  body {
    margin: 0;
    padding: 0;
    font-size:90px;
    font-family: orb15web, serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  @font-face {
      font-family: 'orb15web';
      src: url('../orb15web.otf') format('opentype');
  	  font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'dualistweb-1';
      src: url('../dualistweb-1.otf') format('opentype');
      	font-weight: normal;
      	font-style: normal;
  }


  h1 {
      margin: 0;
      font-size: 90px;
      line-height: 100px;
      font: 'orb15web', serif;
      font-weight: normal;
  }

  p {
      font-size: 19px;
      font-family: 'dualistweb-1', sans-serif;
  }

  .arrow {
      width: 30px;
      position: absolute;
      background-size: contain;
      margin: 0;
      display: none;
  }

  .arrow img {
  	max-height: 100%;
  	max-width: 100%;
  }

  .text {
    position: center;
  }

  footer {
    clear: both;
    margin-bottom: 0;
    margin: 0 1.5% 12px 1.5%;
    float: left;
  }


  code {
    background: white;
    border-radius: 6px;
    color: black;
    display: block;
    padding: 24px 15px;
  }
